extends emailbase 
block content 
    p Hi #{name},
    p Forget the Password , please find the password reset link below
    p Make a patch request to url website for password reset is not yet implementated.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Link
    p If any furthur query, please don't hesitate to contact me!
    p - Jonas Schmedtmann, CEO